---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partialsc
.page__content {
    max-width: 100%;
    font-size: 16px; /* Adjust this value as needed */
}
.organizers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.organizer {
    flex-basis: 22%; /* Adjust this based on your design */
    text-align: center; /* Center-align the name under the photo */
    margin-bottom: 20px; /* Space between rows */
}

.organizer img {
    width: 30%; /* Adjust image width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 30%; /* Optional: makes the image circular */
}

