---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partialsc
.page__content {
    max-width: 100%;
    font-size: 16px; /* Adjust this value as needed */
}
.organizers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.organizer {
    flex-basis: 0 0 30%; /* Adjust this based on your design */
    margin: 10px; /* Ensure this is not too large */
    text-align: center; /* Center-align the name under the photo */
    padding: 0; /* Or adjust as needed */
    box-sizing: border-box; /* This ensures padding and borders are included in the width */
    margin-bottom: 20px; /* Space between rows */
}

.organizer img {
    width: 100px; /* Adjust image width */
    height: 100px; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: makes the image circular */
}

